body {
    font-family: 'Calistoga', cursive;
    background-image: url("https://as2.ftcdn.net/v2/jpg/02/38/75/59/1000_F_238755961_GqRn6IAkWTT7yZuuUkvowONleNhVzQl5.jpg"); 
    margin: auto;
    text-align: center;
    background-size: 100% auto;
}

.box {
 margin-left: auto;
 margin-right: auto;
 object-position: center;
 border-style: dotted;
 border-width: 10px;
 border-color: black;   
}

ul{
    list-style: none;
}

td {
    height: 100px;
    width: 100px;
    font-size: 75px;
    text-align: center;
}

.hover{
    cursor: pointer;
}
footer{
    padding-top: 20px;
}